[Desktop Entry]
Version=1.0
Exec=~/Desktop/code_test/yoloV8_picam/script/tx.sh
Name=tx
GenericName==tx
comment=run rx script
Encoding==UTF-8
Terminal=true
Type=Application
Categories=Application;
